<h1>New disco</h1>

<% form_for(@disco) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :correlativo %><br />
    <%= f.text_field :correlativo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', discos_path %>